﻿﻿﻿﻿<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>NikonBot.</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="description" content="Best bot in world welcome , Music and so many commands">
<link rel="icon" 
      type="image/png" 
      href="https://cdn.discordapp.com/attachments/573232110475673607/573668832745619458/NB.png">
	  </link>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>

      <link rel="stylesheet" href="style.css">

  
</head>

<body>	

<div class="container d-flex flex-column">
  <div class="header d-flex flex-column justify-content-between align-items-center">
    <nav class="topmenu d-flex justify-content-center"><a href="#about">About</a>
	  <div class="line align-self-center"></div><a href="https://discord.gg/P96Cjzh">Join Server Support</a>

    </nav>
    <div class="server-info d-flex align-items-center flex-column text-center">
      <h1>- NikonBot. Discord .</h1><a class="links-suppressor join-btn btn-pill white" href="https://discordapp.com/api/oauth2/authorize?client_id=574939069084205066&permissions=8&scope=bot">Invite now.</a>
    </div>
  </div>
  <div class="inner d-flex flex-column">
	    <section class="d-flex justify-content-between flex-lg-nowrap flex-wrap flex-row-reverse" id="about">

      <div class="image image1" style="flex-grow: 1;"></div>
      <div class="text">
	  <div class="alert">

</div>
        <h2>About</h2>
		<p><b>» NikonBot.</b>&nbsp;<br/><br/><b></b><br/></p>

        <ul>
          <p>Welcome Everyone .
English Discord Bot ... Done By Arabic Group There Are Many Commands Like :
Admins , Public , Etc... 
To Know More Information Join Support Server And To See All Commands Use : ?help ...</p>
        </ul>
      </div>
    </section>
  

        <h4 class="d-flex">© All Rights Reserved For NikonBot. 2019 .</h4><span></span><span></span><span></span><span></span>

  </div>
</div>

</body>

</html>
